.DS_Store
.idea/
dist/
node_modules/
/node_modules
/node_modules/are-we-there-yet/CHANGES.md~
/node_modules/console-control-strings/README.md~
/node_modules/copy-concurrently/README.md~
/node_modules/in-publish/README.md~
/node_modules/jasmine/node_modules/jasmine-core/images/__init__.pyc
/node_modules/jasmine/node_modules/jasmine-core/images/__pycache__/__init__.cpython-36.pyc
/node_modules/move-concurrently/README.md~
/node_modules/querystring/.History.md.un~
/node_modules/querystring/.Readme.md.un~
/node_modules/querystring/.package.json.un~
/node_modules/querystring/test/.index.js.un~
/node_modules/unique-filename/README.md~
.settings/
