<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>koa framework</title>
</head>
<body>
  <p>
    <a href="/socket.html">Go to the test socket</a>
  </p>
  <p>
    <a href="/namespacechat.html"> Go to the namespace chat page</a>
  </p>
<p>
  -------------------------------------------------------------------
</p>
  <form >
    <p>
      <label>Username:
        <input type="text" name="username" id="username" value="test" />
      </label>
    </p>
    <p>
      <label>Password:
        <input type="password" name="password" id="password"  value="test" />
      </label>
    </p>
    <p>
      <button id="jwtlogin" type="button"> Log In for JWT token </button>
      <button id="cleartoken" type="button"> clear jwt token in local storage </button>
    </p>
  </form>
</body>
<script>
    document.getElementById('jwtlogin').addEventListener('click', () => {
        var user = {}
        user.username=document.getElementById('username').value;
    user.password=document.getElementById('password').value;

    fetch('/loginJwt', {
        method: 'POST',
        headers: {
            'Accept': 'application/json, text/plain, */*',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(user)
    })
        .then(res => res.json())
    .then(data => {
        if(!data.user) {
        console.log(data);
    } else {

        sessionStorage.setItem("token", data.token);
        console.log('value : '+sessionStorage.getItem('token'));
        window.location.href="/app.html";
    }
    })
    })


    document.getElementById('cleartoken').addEventListener('click', () => {
        sessionStorage.removeItem('token')
    })
</script>
</html>
