<!-- Page wrapper -->
<div ng-include="'views/common/topnavbar.html'"></div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Number of nodes forwarding logs</h5>
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-xs btn-white active">Today</button>
              <button type="button" class="btn btn-xs btn-white">Monthly</button>
              <button type="button" class="btn btn-xs btn-white">Annual</button>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="flot-chart">
                <div flotChart class="flot-chart-content" [options]="flotOptionsNumOfNodesForwardingLogs" [dataset]="flotDatasetNumOfNodesForwardingLogs"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Number of logs/files currently being forwarded</h5>
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-xs btn-white active">Today</button>
              <button type="button" class="btn btn-xs btn-white">Monthly</button>
              <button type="button" class="btn btn-xs btn-white">Annual</button>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="flot-chart">
                <div flotChart class="flot-chart-content" [options]="flotOptionsNumberOfLogs" [dataset]="flotDatasetNumberOfLogs"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Current retry count</h5>
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-xs btn-white active">Today</button>
              <button type="button" class="btn btn-xs btn-white">Monthly</button>
              <button type="button" class="btn btn-xs btn-white">Annual</button>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="flot-chart">
                <div flotChart class="flot-chart-content" [options]="flotOptionsCurrentRetryCount" [dataset]="flotDatasetCurrentRetryCount"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-outline btn-primary" (click)="goBack()">go back</button>
</div>


<!-- Footer -->
<div ng-include="'views/common/footer.html'"></div>
