<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">Month to date</span>
          <h5>Service up time</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">98.3%</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Upload Document</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-3">
              <h1 class="no-margins">1.03s</h1>
              <div class="font-bold text-navy">
                <small>95th (week to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">0.87s</h1>
              <div class="font-bold text-navy">
                <small>Average (week to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">1.09s</h1>
              <div class="font-bold text-navy">
                <small>95th (month to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">0.93s</h1>
              <div class="font-bold text-navy">
                <small>Average (month to date)</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Get Document</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-3">
              <h1 class="no-margins">1.03s</h1>
              <div class="font-bold text-navy">
                <small>95th (week to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">0.87s</h1>
              <div class="font-bold text-navy">
                <small>Average (week to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">1.09s</h1>
              <div class="font-bold text-navy">
                <small>95th (month to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">0.93s</h1>
              <div class="font-bold text-navy">
                <small>Average (month to date)</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Get Document List</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-3">
              <h1 class="no-margins">1.03s</h1>
              <div class="font-bold text-navy">
                <small>95th (week to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">0.87s</h1>
              <div class="font-bold text-navy">
                <small>Average (week to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">1.09s</h1>
              <div class="font-bold text-navy">
                <small>95th (month to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">0.93s</h1>
              <div class="font-bold text-navy">
                <small>Average (month to date)</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Get Medicare Overview</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-3">
              <h1 class="no-margins">1.03s</h1>
              <div class="font-bold text-navy">
                <small>95th (week to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">0.87s</h1>
              <div class="font-bold text-navy">
                <small>Average (week to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">1.09s</h1>
              <div class="font-bold text-navy">
                <small>95th (month to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">0.93s</h1>
              <div class="font-bold text-navy">
                <small>Average (month to date)</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Gain PCEHR Access</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-3">
              <h1 class="no-margins">1.03s</h1>
              <div class="font-bold text-navy">
                <small>95th (week to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">0.87s</h1>
              <div class="font-bold text-navy">
                <small>Average (week to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">1.09s</h1>
              <div class="font-bold text-navy">
                <small>95th (month to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">0.93s</h1>
              <div class="font-bold text-navy">
                <small>Average (month to date)</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Does PCHER Exists</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-3">
              <h1 class="no-margins">1.03s</h1>
              <div class="font-bold text-navy">
                <small>95th (week to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">0.87s</h1>
              <div class="font-bold text-navy">
                <small>Average (week to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">1.09s</h1>
              <div class="font-bold text-navy">
                <small>95th (month to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">0.93s</h1>
              <div class="font-bold text-navy">
                <small>Average (month to date)</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Search IHI</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-3">
              <h1 class="no-margins">1.03s</h1>
              <div class="font-bold text-navy">
                <small>95th (week to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">0.87s</h1>
              <div class="font-bold text-navy">
                <small>Average (week to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">1.09s</h1>
              <div class="font-bold text-navy">
                <small>95th (month to date)</small>
              </div>
            </div>
            <div class="col-md-3">
              <h1 class="no-margins">0.93s</h1>
              <div class="font-bold text-navy">
                <small>Average (month to date)</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
